a{
    padding: 5px 10px;
    text-decoration: none;
}
/*Links não visitados*/
a:link{
    color: #b9c941;
}
/*Links visitados*/
a:visited{
    color: #b9c941;
}
/*Links Hover, quando passa o cursos sobre o link*/
a:hover{
    color: #FFF;
    background:#6d790f;
}
/*Links Ativos, quando clicado*/
a:active{
    color: #e4f371;
}